.header {
  padding: 16px 0;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 2px 20px 0px;

  @media only screen and (max-width: 576px) {
    padding: 16px 10px;
    box-shadow: rgba(100, 100, 100, 0.2) 0px 2px 20px 0px;
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 25px;

  ul {
    gap: 35px;
    display: flex;
    @media only screen and (max-width: 576px) {
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 100vh;
        width: 40%;
        // background: #E5E5E5;
        // background-color: #ffffff;
        background: #EDF7FA;
        position: fixed;
        z-index: 100;
        right: -45%;
        top: 0;
        padding: 24px;
        transition: 1s ease;
        // box-shadow: rgba(100, 100, 100, 0.2) 0px 2px 20px 0px;
        // box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 25px;
      }
  }
  li {
    list-style-type: none;
  }
  a {
    font-family: "Heebo";
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    &:hover {
        opacity: 0.8;
        color: #FF6464;
      }

      &:active {
        opacity: 0.6;
      }

      &--active {
        &::after {
          content: "";
          width: 100%;
          position: absolute;
          height: 3px;
          background-color: #FF6464;
          left: 0;
          bottom: -6px;
        }
      }
      @media only screen and (max-width: 576px) {
        font-size: 16px;
      }
  }
}

#hamburger-bar:checked {
    + {
      .hamburger-icons #menu {
        display: none;
      }
      .hamburger-icons #close {
        display: block;
      }
    }

    ~ {
      .navbar ul {
        right: 0;
      }
    }
  }

  #menu,
  #close {
    position: fixed;
    // background: #FF6464;
    background: #EDF7FA;
    // opacity: 0.8;
    font-size: 45px;
    top: 6px;
    right: 40px;
    z-index: 101;
    border-radius: 5px;
    display: none;
  }

  #menu {
    @media only screen and (max-width: 576px) {
      display: block;
    //   background-color: red;
    }
}
