.collection-section {
  &__wrapper {
    margin-left: 78px;
  }

  &__title {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 22px;
    @media only screen and (max-width: 576px) {
      font-size: 18px;
      transform: translateX(-40px);
      text-align: center;
    }
  }
  &__card {
    margin-left: 18px;
    @media only screen and (max-width: 576px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__card-banner {
    display: flex;
    @media only screen and (max-width: 576px) {
      flex-wrap: wrap;
      display: flex;
      gap: 17px;
    }
  }
  &__card-title {
    font-family: "Heebo";
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 16px;
  }
  &__card-num {
    padding: 3px 8px;
    background: #142850;
    border-radius: 16px;
    display: inline-block;
    color: #ffffff;
    font-family: "Heebo";
    font-weight: 900;
    font-size: 15px;
  }
  &__card-num--text {
    margin-left: 26px;
    display: inline-block;
    font-family: "Heebo";
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #8695a4;
  }
  &__card-text {
    font-family: "Heebo";
    font-weight: 400;
    font-size: 15px;
    color: #21243d;
    margin-top: 17px;
    width: 55%;
    @media only screen and (max-width: 576px) {
      flex-wrap: wrap;
      width: auto;
      width: 68%;
    }
  }
  &__card-img {
    @media only screen and (max-width: 576px) {
      width: 85%;
    }
  }
  &__img {
    max-width: 246px;
    max-height: 180px;
    height: auto;
    @media only screen and (max-width: 576px) {
      max-width: none;
      max-height: none;
      width: 87%;
      height: auto;
    }
  }
  &__card-line {
    width: 858px;
    height: 0px;
    display: inline-block;
    border: 1px solid #e0e0e0;
    margin-top: 15px;
    margin-bottom: 31px;
    @media only screen and (max-width: 576px) {
      width: 70%;
      margin-left: 17px;
    }
  }
}
